body {
    margin-left:16px;
    font-family: Verdana, Arial, sans-serif;
}

hearder {
    background-color:#f9e0de;
    padding: 2px 16px;
}

h1 {
    color: white;
    background-color: #ffc0cb;
}

h1.clicked {
    color: #ffc0cb;
    background-color: #fdf4f3;
}

h1.node{
    font-family: monospace;
}

h2 {
    color: #ffe4e1;
    margin-left: 40px;            
    border-bottom: 4px dotted black;
}

ul {
    font-family: "Verdana", sans-serif;
    background-color:#ffc0cb;
    color:#fdf4f3;
    padding: 8px 0;
}

li {
    padding: 8px 20px;
    display: inline;
}

li.active {
    background-color: pink;
}

.rectangle {
    width: 200px;
    height: 100px;
    margin: 100px 20px;
    text-align:center;
    color: white;
}

.pink {
    background-color: pink
}

.green {
    background-color:#b4eeb4;
}

.blue {
    background-color:#afeeee;
}


footer {
    background-color:pink;
    padding: 1px 16px;
}

    footer >p {
        color: white;
        font-size: 0.8em;
    } 

figure {
    float: right;
    margin: 0 0 0 16px;
}